<%- include('../../partials/header.ejs') %> 
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container"><hr>
        <div class="container"><hr>
            <div class="card">
                <div class="card-header">
                    <h2>Artigos</h2>
                    <a href="/admin/articles/new" class="btn btn-dark">Criar Novo Artigo</a>
                </div>
                <div class="card-body table-responsive-sm">
                    <table class="table table-bordered table-hover">
                        <caption>Lista de artigos</caption>
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Título</th>
                                <th>Slug</th>
                                <th>Categoria</th>
                                <th>Acões</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% articles.forEach(article => { %>
                               <tr>
                                    <td><%= article.id %></td>
                                    <td><%= article.title %></td>
                                    <td><%= article.slug %></td>
                                    <td><%= article.category.title %></td>
                                    <td>
                                        <!--Macete-->
                                        <form action="/articles/delete" method="POST" onsubmit="confirmDelete('artigo',event,this)" style="display:inline;">
                                            <input type="hidden" name="id" value="<%=article.id%>">
                                            <button class="btn btn-danger">Excluir</button>
                                        </form>
                                    </td>
                               </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>     
    </div> 
</body>
<%- include('../../partials/footer.ejs') %> 
<script src="/js/confirmDelete.js"></script>